name: run_tests

on: [push]

jobs:
  run_pytest:
    runs-on: macos-13  # macOS Ventura
    strategy:
      max-parallel: 5

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Create virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
          echo "VIRTUAL_ENV=${VIRTUAL_ENV}" >> $GITHUB_ENV
          echo "${VIRTUAL_ENV}/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          source venv/bin/activate
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Install package
        run: |
          source venv/bin/activate
          python -m pip install -e . --no-deps --force-reinstall

      - name: Running Tests
        run: |
          source venv/bin/activate
          python -m pytest --verbose
